.forgotPassword{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.cartbtn{
position: absolute;
background-color: transparent;
color: rgba(163, 19, 19, 1);
border: 2px solid rgba(163, 19, 19, 1);
display: flex;
align-items: center;
padding: 8px 12px;
border-radius: 25px;
transition: background-color 0.3s, color 0.3s;
margin-left: 1550px;
margin-top: -60px;
}

.cartbtn:hover {
background-color: rgb(237, 57, 57);
color: #fff;
}

.ForgotPassword-container {
display: flex;
}

.input-container{
margin-top: 50px;
margin-left: 30%;
}

.input-container img{
width: 150px;
margin-left: 38%;
}

.input-container h2{
font-family: Inter, sans-serif;
margin-left: 75px;
font-weight: bold;
font-size: 35px;
color: #9b1410;

margin-top: 30px;
margin-left: 75px;
}

.input-container p{
font-family: Inter, sans-serif;
font-size: 15px;
color: black;
font-weight: 500;

margin-top: 10px;
margin-left: 75px;
}
.input-container p.p1{
margin-top: 20px;
}

.input-container p.p2{
margin-top: 5px;
}

.input-container input{
position: absolute;
margin-left: 70px;
margin-top: 20px;

width: 490px;
height: 30px;
}

.input-container button {
position: absolute;
margin-top: 80px;
margin-left: 200px;
width: 245px;
height: auto;
background-color: rgba(163, 19, 19, 1);
color: #fff;
padding: 12px 30px;
border: none;
border-radius: 10px;
font-size: 1rem;
cursor: pointer;
transition: background-color 0.3s;
}

.input-container a{
position: absolute;
margin-top: 140px;
margin-left: 270px;
color: rgba(242, 181, 76, 1);
}
.input-container a:hover{
color: #a31313;
}